# Build and Generated Output
/main
/packer-plugin-vsphere
/dist/
/.docs/
/crash.log

# Acceptance Tests Artifacts
**/packer_log_*.txt
**/packer_init_log_*.txt
builder/vsphere/**/vsphere-*-matrix-*.json
builder/vsphere/**/vsphere-*-matrix-*.pkr.hcl

# Editor Configuration
/.idea/
/.vscode/

# Operating System Files
**/.DS_Store
